name: Generated APK AAB (Upload - Create Artifact To Github Action)

on:

  push:
    branches:
      - master
    tags:
      - v*

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: 'gradle'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - uses: gradle/actions/setup-gradle@v3

      - run: gradle assembleRelease
      - uses: ilharp/sign-android-release@v1 # Or use @nightly
        name: Sign app APK
        id: sign_app
        with:
          releaseDir: app/build/outputs/apk/release
          signingKey: ${{ secrets.ANDROID_SIGNING_KEY }}
          keyAlias: ${{ secrets.KEYALIAS }}
          keyStorePassword: ${{ secrets.KEYSTOREPASSWORD }}
          keyPassword: ${{ secrets.KEYPASSWORD }}
          buildToolsVersion: 33.0.0

      # Upload your signed file if you want
      - uses: actions/upload-artifact@v4
        with:
          name: Signed app bundle
          path: app/build/outputs/apk/release/*-release-signed.apk
  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    needs:
      - build
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
      - name: Show files
        run: |
            pwd
            find
      - name: Copy files
        run: |
          mkdir out
          mv release/*-release-unsigned.apk  out/nnhk-release.apk
          cd out
          sha256sum * > sha256sum
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
            files: out/*
            draft: true
